:root {
	--basic-color: #ffffff;
	--transparent-basic-color: rgba(255, 255, 255, 0.3);
	--transparent-button-color: rgba(0, 0, 0, 0.0001);
	--header-color: #eeeeee;
	--logo-press-color: #a6a6a6;
	--main-red-color: #fb565a;
	--hover-red-color: #e74246;
	--pressing-red-color: #d7373b;
	--rest-green-color: #00ca74;
	--hover-green-color: #00bc6c;
	--pressing-green-color: #00aa62;
	--rest-yellow-color: #efc84a;
	--hover-yellow-color: #eab534;
	--pressing-yellow-color: #e5a722;
	--rest-social-color: #e1e1e1;
	--pressing-shadow: rgba(0, 1, 1, 0.1);
	--hover-grey-color: #dfdfdf;
	--pressing-grey-color: #d5d5d5;
	--border-rest-grey-color: #d7dcde;
	--border-hover-grey-color: #b4b9bb;
	--grey-active-color: #dbdbdb;
	--main-black-color: #000000;
	--hover-black-color: rgba(0, 0, 0, 0.6);
	--sorting-black-color: rgba(0, 0, 0, 0.3);
	--rest-black-color: rgba(0, 0, 0, 0.2);
	--pressing-black-color: rgba(0, 0, 0, 0.1);
	--small-black-color: #283136;
	--blocked-black-color: rgba(40, 49, 54, 0.3);
	--placeholder-color: #444444;
	--modal-text-color: rgba(68, 68, 68, 0.5);
	--popup-text-color: #666666;

}

body {
	min-width: 1180px;
	margin: 0;
	padding: 0;
	font-family: "Roboto", "Tahoma", sans-serif;
	background-color: var(--basic-color);
}

a {
	text-decoration: none;
}

ul {
	list-style: none;
}

img {
	max-width: 100%;
	height: auto;
}

.visually-hidden,
/*.popup,*/
.modal-letter {
	display: none;
}

.main-header {
	background-color: var(--header-color);
}

.main-navigation,
.basket {
	font-size: 16px;
	line-height: 30px;
	font-weight: 500;
	text-transform: uppercase;
	
}

/*.main-logo {
	color: var(--logo-press-color);
}*/

.site-navigation a,
a.basket {
	color: var(--main-black-color);
	background-color: var(--header-color);
}

.site-navigation a:hover,
a.basket:hover {
	color: var(--main-red-color);
}

.site-navigation a:focus,
a.basket:focus {
	color: var(--main-black-color);
	opacity: 0.3;
}

/*.site-navigation a:active,
a.basket:active {
	color: var(--main-black-color);
	border-bottom: 2px solid var(--main-red-color);
}*/

p.catalog-headline {
	font-size: 55px;
	line-height: 55px;
	font-weight: 500;
	color: var(--main-black-color);
	text-align: center;
}

.filter label[for="from"],
.filter label[for="to"] {
	font-size: 16px;
	line-height: 22px;
	font-weight: 400;
	color: var(--small-black-color);
	text-transform: uppercase;
}

.filter legend,
.sorting .sorting-headline {
	font-size: 18px;
	line-height: 30px;
	font-weight: 700;
	color: var(--main-black-color);
	text-transform: uppercase;
}

.sorting a {
	font-size: 14px;
	line-height: 18px;
	font-weight: 400;
	color: var(--sorting-black-color);
	text-transform: uppercase;
}

.sorting a:hover {
	color: var(--hover-black-color);
	text-transform: uppercase;
}

.sorting a:focus,
.sorting a:active {
	color: var(--main-black-color);
	text-transform: uppercase;
}

.radio-list input label,
.check-list input label,
.radio-list input label:hover,
.check-list input label:hover {
	font-size: 16px;
	line-height: 20px;
	font-weight: 400;
	color: var(--small-black-color);
}

.radio-list input:disabled+label,
.check-list input:disabled+label {
	color: var(--blocked-black-color);
}

.popup h4 {
	font-size: 18px;
	line-height: 30px;
	font-weight: 700;
	text-transform: uppercase;
	color: var(--main-black-color);
}

.popup .text-popup {
	font-size: 16px;
	line-height: 18px;
	font-weight: 400;
	color: var(--popup-text-color);
}

a.btn-price {
	font-size: 16px;
	line-height: 18px;
	font-weight: 500;
	text-transform: uppercase;
	color: var(--basic-color);
	background-color: var(--main-red-color);
}

a.btn-price:hover {
	color: var(--basic-color);
	background-color: var(--hover-red-color);
}

a.btn-price:focus {
	color: var(--transparent-basic-color);
	background-color: var(--pressing-red-color);
}

button.btn-show {
	font-size: 16px;
	line-height: 18px;
	font-weight: 500;
	text-transform: uppercase;
	color: var(--main-black-color);
	background-color: var(--header-color);
	
}

button.btn-show:hover {
	color: var(--main-black-color);
	background-color: var(--hover-grey-color);
	
}

button.btn-show:focus {
	color: var(--sorting-black-color);
	background-color: var(--pressing-grey-color);
	
}

.page-navigation a.btn-paginator {
	font-size: 16px;
	line-height: 18px;
	font-weight: 500;
	text-transform: uppercase;
	color: var(--main-black-color);
	background-color: var(--header-color);
}

.page-navigation a.btn-paginator:hover {
	color: var(--main-black-color);
	background-color: var(--hover-grey-color);
}

.page-navigation a.btn-paginator:focus {
	color: var(--sorting-black-color);
	background-color: var(--pressing-grey-color);
}

.page-navigation a.btn-paginator:active {
	color: var(--main-black-color);
	background-color: var(--transparent-button-color);
	border: 3px solid var(--grey-active-color);

}

.nerds-address h4 {
	font-size: 18px;
	line-height: 30px;
	font-weight: 700;
	text-transform: uppercase;
	color: var(--main-black-color);
}

address {
	font-size: 16px;
	line-height: 18px;
	font-weight: 400;
	font-style: normal;
	color: var(--popup-text-color);
}

a.btn-address {
	font-size: 16px;
	line-height: 18px;
	font-weight: 500;
	text-transform: uppercase;
	color: var(--basic-color);
	background-color: var(--main-red-color);
}

a.btn-address:hover {
	color: var(--basic-color);
	background-color: var(--hover-red-color);
}

a.btn-address:focus {
	color: var(--transparent-basic-color);
	background-color: var(--pressing-red-color);
}

.social-appeal {
	font-size: 36px;
	line-height: 36px;
	font-weight: 700;
	color: var(--main-black-color);
}

.social-discount {
	font-size: 16px;
	line-height: 22px;
	font-weight: 400;
	color: var(--placeholder-color);
}