:root {
	--basic-color: #ffffff;
	--transparent-basic-color: rgba(255, 255, 255, 0.3);
	--transparent-button-color: rgba(0, 0, 0, 0.0001);
	--header-color: #eeeeee;
	--logo-press-color: #a6a6a6;
	--main-red-color: #fb565a;
	--hover-red-color: #e74246;
	--pressing-red-color: #d7373b;
	--rest-green-color: #00ca74;
	--hover-green-color: #00bc6c;
	--pressing-green-color: #00aa62;
	--rest-yellow-color: #efc84a;
	--hover-yellow-color: #eab534;
	--pressing-yellow-color: #e5a722;
	--rest-social-color: #e1e1e1;
	--hover-grey-color: #dfdfdf;
	--pressing-grey-color: #d5d5d5;
	--border-rest-grey-color: #d7dcde;
	--border-hover-grey-color: #b4b9bb;
	--scale-grey-color: #d7dcdf;
	--button-grey-color: #c4c4c4;
	--stroke-grey-color: #c1c1c1;
	--stroke-filter-color: rgba(77, 77, 77, 0.4);
	--grey-active-color: #dbdbdb;
	--main-black-color: #000000;
	--hover-black-color: rgba(0, 0, 0, 0.6);
	--sorting-black-color: rgba(0, 0, 0, 0.3);
	--rest-black-color: rgba(0, 0, 0, 0.2);
	--pressing-black-color: rgba(0, 0, 0, 0.1);
	--shadow-color: rgba(0, 1, 1, 0.1);
	--shadow-popup-color: rgba(0, 1, 1, 0.25);
	--sorting-icon-color: #231f20;
	--small-black-color: #283136;
	--blocked-black-color: rgba(40, 49, 54, 0.3);
	--placeholder-color: #444444;
	--modal-text-color: rgba(68, 68, 68, 0.5);
	--popup-text-color: #666666;

}

body {
	min-width: 1180px;
	margin: 0;
	padding: 0;
	font-family: "Roboto", "Tahoma", sans-serif;
	background-color: var(--basic-color);
	
}

a {
	text-decoration: none;
}

img {
	max-width: 100%;
	height: auto;
}

.visually-hidden,
.popup,
.modal-wrapper {
	display: none;
}

.page {
	height: 100%;
}

.page-body {
  	min-height: 100%;
  	display: grid;
    grid-template-rows: min-content 1fr min-content;
    align-content: start;
}


.header-navigation {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.index-header {
	min-height: 545px;
	background-color: var(--header-color);
	margin-bottom: 80px;
}

.catalog-header {
	min-height: 355px;
	background-color: var(--header-color);
	margin-bottom: 55px;
}

.main-navigation {
	width: 100%;
	display: flex;
	justify-content: center;
}

.main-navigation,
.basket {
	font-size: 16px;
	line-height: 30px;
	font-weight: 500;
	text-transform: uppercase;
	
}
.main-logo {
	width: 160px;
	height: 65px;
	margin-top: 49px;
}

.main-logo:focus {
	fill: var(--logo-press-color);
}

.container {
	width: 1160px;
	margin: 0 auto; 
	padding: 0 10px;
}

.site-navigation {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	width: 450px;
	position: relative;
	left: -15px;
	margin: 0;
	margin-top: 60px;
	padding: 0;
	list-style: none;
	
}

.site-navigation li:nth-child(2) {
	padding-right: 3px;
}

.nerds-basket {
	max-width: 125px;
	margin-top: 60px;
	margin-right: 5px;
}

.nerds-basket .basket {
	padding-left: 50px;
	position: relative;

}

.basket::before {
	content: "";
	position: absolute;
	left: 8px;
	top: 21px;
	width: 15px;
  	height: 15px;
  	background-image: url(../img/cart-icon.svg);
  	background-repeat: no-repeat;
  	background-position: 0 0;
}

.site-navigation a,
a.basket {
	display: block;
	color: var(--main-black-color);
	background-color: var(--header-color);
	padding: 14px 0;
	margin: 0;
	margin-left: 6px;
	margin-right: 6px;
}

.site-navigation a:hover,
a.basket:hover {
	color: var(--main-red-color);
}

.site-navigation a:focus,
a.basket:focus {
	color: var(--main-black-color);
	opacity: 0.3;
}

.site-navigation a:not([href]),
a.basket a:not([href]) {
	color: var(--main-black-color);
	border-bottom: 2px solid var(--main-red-color);

}

p.catalog-headline {
	position: relative;
	top: 72px;
	left: -9px;
	font-size: 55px;
	line-height: 55px;
	font-weight: 500;
	color: var(--main-black-color);
	text-align: center;
	margin: 0;
	padding: 0;
}

.slider {
	position: relative;
	background-color: var(--header-color);
	
}

.index-slider {
	list-style: none;
	min-width: 1157px;
	min-height: 418px;
	margin: 0;
	margin-top: 9px;
	padding: 0;
}

.slide {
	display: none;
}

.slide-current {
	display: block;
}

.index-slider .item-1 {
	background-image: url(../img/nerds-index-slide1.png);
	background-repeat: no-repeat;
	background-position: 100% 95%;
	min-width: 760px;
	min-height: inherit;
	
}

.index-slider .item-2 {
	background-image: url(../img/nerds-index-slide2.png);
	background-repeat: no-repeat;
	background-position: 100% 95%;
	min-width: 760px;
	min-height: inherit;
}

.index-slider .item-3 {
	background-image: url(../img/nerds-index-slide3.png);
	background-repeat: no-repeat;
	background-position: 100% 95%;
	min-width: 760px;
	min-height: inherit;
	
}

.index-slider .headline {
	font-size: 55px;
	line-height: 55px;
	font-weight: 500;
	color: var(--main-black-color);
	width: 538px;
	margin: 0;
	padding-top: 65px;
}

.text-slider {
	width: 416px;
	margin: 0;
	padding-top: 26px;
	padding-bottom: 41px;
	font-size: 16px;
	line-height: 24px;
	font-weight: 400;
	color: var(--small-black-color);
}

a.btn-slider {
	display: inline-block;
	font-size: 16px;
	line-height: 18px;
	font-weight: 500;
	margin: 0;
	padding-top: 16px;
	padding-bottom: 15px;
	padding-left: 55px;
	padding-right: 54px;
	text-transform: uppercase;
	color: var(--basic-color);
	background-color: var(--main-red-color);
	border-radius: 3px;
}

a.btn-slider:hover {
	color: var(--basic-color);
	background-color: var(--hover-red-color);
}

a.btn-slider:focus {
	color: var(--transparent-basic-color);
	background-color: var(--pressing-red-color);
	box-shadow: inset 0 3px 0 var(--shadow-color);
}

.slider-controls {
  	position: absolute;
  	bottom: 96px;
  	left: 545px;
  	z-index: 10;
  	display: flex;
  	width: 88px;
  	justify-content: space-between;
}

.slider-controls button {
  	padding: 0;
  	width: 5px;
  	height: 5px;
  	background-color: var(--basic-color);
  	border: 10px solid var(--basic-color);
  	border-radius: 50%;
  	cursor: pointer;
    
}

.slider-controls button.current {
	padding: 0;
	width: 5px;
  	height: 5px;
  	background-color: var(--button-grey-color);
  	border: 10px solid var(--basic-color);
	border-radius: 50%;
  	cursor: pointer;
}

.services {
	margin-bottom: 155px;
}

.services-list {
	list-style: none;
	display: flex;
    flex-direction: row;
    justify-content: flex-start;
	margin: 0;
	padding: 0;
		
}

.services-item {
	min-width: 300px;
	margin-right: 100px;
	
}

.services-item h3 {
	font-size: 24px;
	line-height: 30px;
	font-weight: 700;
	margin: 0;
	margin-top: 20px;
	padding: 0;
	text-transform: uppercase;
	color: var(--main-black-color);
}

.text-services {
	width: 265px;
	font-size: 16px;
	line-height: 24px;
	font-weight: 400;
	margin: 0;
	margin-top: 16px;
	padding: 0;
	color: var(--small-black-color);
}

.services-item .button {
	display: inline-block;
	font-size: 16px;
	line-height: 18px;
	font-weight: 500;
	margin: 0;
	margin-top: 32px;
	padding-top: 17px;
	padding-bottom: 16px;
	padding-left: 39px;
	padding-right: 41px;
	text-transform: uppercase;
	border-radius: 3px;
}

a.btn-services-sites {
	color: var(--basic-color);
	background-color: var(--main-red-color);
}

a.btn-services-sites:hover {
	color: var(--basic-color);
	background-color: var(--hover-red-color);
}

a.btn-services-sites:focus {
	color: var(--transparent-basic-color);
	background-color: var(--pressing-red-color);
	box-shadow: inset 0 3px 0 var(--shadow-color);
}

a.btn-services-adds {
	color: var(--basic-color);
	background-color: var(--rest-green-color);
}

a.btn-services-adds:hover {
	color: var(--basic-color);
	background-color: var(--hover-green-color);
}

a.btn-services-adds:focus {
	color: var(--transparent-basic-color);
	background-color: var(--pressing-green-color);
	box-shadow: inset 0 3px 0 var(--shadow-color);
}

a.btn-services-presentations {
	color: var(--basic-color);
	background-color: var(--rest-yellow-color);
}

a.btn-services-presentations:hover {
	color: var(--basic-color);
	background-color: var(--hover-yellow-color);
}

a.btn-services-presentations:focus {
	color: var(--transparent-basic-color);
	background-color: var(--pressing-yellow-color);
	box-shadow: inset 0 3px 0 var(--shadow-color);
}

.services::after {
	display: block;
	position: relative;
	top: 80px;
	left: 0;
	content: "";
	width: 1158px;
	height: 2px;
	background-color: var(--header-color);
}

.advantages {
	display: flex;
	justify-content: space-between;
	margin: 0;
	margin-bottom: 80px;
	padding: 0;
}


.advantages-items {
	list-style: none;
	margin: 0;
	padding: 0;
}

.report-advantages {
	display: flex;
	flex-direction: column;
	width: 651px;
	margin: 0;
}

.slogan {
	font-size: 45px;
	line-height: 45px;
	font-weight: 500;
	color: var(--main-black-color);
	margin: 0;
	
}

.text-advantages {
	font-size: 16px;
	line-height: 24px;
	font-weight: 400;
	color: var(--small-black-color);
	margin: 0;
	margin-top: 32px;
}

.text-items {
	font-size: 16px;
	line-height: 24px;
	font-weight: 400;
	color: var(--small-black-color);
	margin: 0;
	margin-top: 24px;
}

.report-advantages .headline {
	font-size: 16px;
	line-height: 24px;
	font-weight: 700;
	text-transform: uppercase;
	color: var(--small-black-color);
	margin: 0;
	margin-top: 41px;
}

.advantages-items li {
	position: relative;
	padding-left: 34px;

}

.advantages-items li::before {
	position: absolute;
	content: "";
	width: 25px;
	height: 2px;
	top: 10px;
	left: 0px;
	background-color: var(--main-red-color);
}

.show-advantages {
	display: flex;
	flex-direction: column;
	width: 360px;
	margin: 0;
	margin-top: -35px;
}


.show-advantages .headline {
	font-size: 16px;
	line-height: 24px;
	font-weight: 700;
	text-transform: uppercase;
	color: var(--main-black-color);
	text-align: center;
	margin: 0;
	margin-top: 37px;
	margin-bottom: 30px;
}

.show-advantages tr th {
	font-size: 45px;
	line-height: 64px;
	font-weight: 700;
	color: var(--main-black-color);
	text-align: left;
}

.show-advantages tr th:nth-child(1) {
	padding-left: 0;
	padding-right: 5px;
}

.show-advantages tr th:nth-child(2) {
	padding-left: 13px;
	padding-right: 5px;
}

.show-advantages tr th:nth-child(3) {
	padding-left: 15px;
	padding-right: 8px;
}

.show-advantages tr sup {
	font-size: 26px;
	line-height: 40px;
	font-weight: 700;
	color: var(--main-black-color);
}

.show-advantages tr td {
	font-size: 16px;
	line-height: 18px;
	font-weight: 400;
	color: var(--small-black-color);
	text-align: left;
	
}

.show-advantages tr td:nth-child(1) {
	padding-top: 8px;
	padding-left: 0;
}

.show-advantages tr td:nth-child(2) {
	padding-top: 8px;
	padding-left: 13px;
}

.show-advantages tr td:nth-child(3) {
	padding-top: 8px;
	padding-left: 18px;
}


.nerds-partners {
	list-style: none;
	min-height: 170px;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	margin: 0;
	padding: 0;
	margin-bottom: 65px;
}

.partners-item {
	display: flex;
	position: relative;
	margin: 0;
}


.partners-item a {
	display: flex;
	justify-content: center;
	opacity: 0.2;
}

.partners-item a:hover {
	opacity: 1;
}

.partners-item a:focus {
	opacity: 0.1;
}

.partners-item:nth-child(1) {
	margin-left: 33px;
}

.partners-item:nth-child(2) {
	margin-left: 95px;
}

.partners-item:nth-child(3) {
	margin-left: 104px;
}

.partners-item:nth-child(4) {
	margin-left: 120px;
}

.partners::before {
	display: block;
	position: relative;
	bottom: 8px;
	content: "";
	width: 1158px;
	height: 2px;
	background-color: var(--header-color);
}

.partners::after {
	display: block;
	position: relative;
	bottom: 63px;
	left: 0;
	content: "";
	width: 1158px;
	height: 2px;
	background-color: var(--header-color);
}

.partners-item:not(:last-child)::before {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 246px;
	right: 0;
	margin: auto;
	content: "";
	width: 2px;
	height: 52px;
	background-color: var(--header-color);
}

.partners-item:not(:last-child):nth-child(2)::before {
	left: 252px;
}


.partners-item:not(:last-child):nth-child(3)::before {
	left: 240px;
}


.page-catalog {
	display: grid;
	grid-template-columns: 260px 1fr;
	align-content: start;
	
}

.filter legend {
	font-size: 18px;
	line-height: 30px;
	font-weight: 700;
	color: var(--main-black-color);
	text-transform: uppercase;
	margin-bottom: 15px;
}

.filter-range {
	width: 260px;
	margin-top: 33px;
}

.filter fieldset {
  	padding: 0;
  	margin: 0;
  	margin-bottom: 48px;
  	border: none;
}

.filter .from,
.filter .to {
	font-size: 16px;
	line-height: 22px;
	font-weight: 400;
	color: var(--small-black-color);
	text-transform: uppercase;
}

.range-controls {
	position: relative;
	height: 41px;
	background-color: var(--header-color);
	border-radius: 5px;
	margin-bottom: 14px;
	padding-top: 39px;
	padding-left: 22px;
	padding-right: 22px;
}

.range-controls .scale {
	height: 2px;
	background-color: var(--scale-grey-color);

}

.range-controls .range {
	width: 70%;
	height: 2px;
	background-color: var(--rest-green-color);
}

.range-controls .toggle {
	position: absolute;
	top: 30px;
	left: 0;
    width: 4px;
    height: 4px;
    padding: 0;
    border: 8px solid var(--basic-color);
    background-color: var(--logo-press-color);
	border-radius: 50%;
	box-shadow: 0 2px 1px 0 var(--stroke-grey-color);
	cursor: pointer;
}

.range-controls .toggle-min {
    left: 18px;
}

.range-controls .toggle-max {
    left: 160px;
}

.price-controls {
	display: flex;
	justify-content: space-between;
	margin-bottom: 3px;
}

.price-controls label {
	font-size: 16px;
	line-height: 22px;
	font-weight: 400;
	color: var(--small-black-color);
	text-transform: uppercase;
	
}

.price-controls input {
	font-family: inherit;
	font-size: inherit;
	width: 80px;
	height: 38px;
	text-align: center;
	color: var(--small-black-color);
	border: none;
	border-radius: 5px;
	background: var(--header-color);
	margin-left: 10px;
	padding-left: 5px;
}

.radio-list,
.check-list {
	list-style: none;
	margin: 0;
	
}

.radio-list {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	min-height: 99px;

}

.check-list {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	min-height: 179px;
}

.radio-item label,
.checkbox-item label {
	display: block;
	position: relative;
	cursor: pointer;
	user-select: none;
	padding-top: 2px;
	
}


.input-radio + label::before {
	content: "";
	position: absolute;
	left: -40px;
	top: 0;
	width: 24px;
	height: 24px;
	border-radius: 50%;
	background-image: url(../img/radio-off.svg);
    background-repeat: no-repeat;
    background-position: 0 0;
    opacity: 0.4;

}

.input-radio:checked + label::before {
	display: none;
}

.input-radio:checked + label::after {
	content: "";
	position: absolute;
	left: -40px;
	top: 0;
	width: 25px;
	height: 25px;
	border-radius: 50%;
	background-image: url(../img/radio-on.svg);
    background-repeat: no-repeat;
    background-position: 0 0;
    opacity: 0.4;
}


.input-checkbox + label::before {
	content: "";
	position: absolute;
	left: -36px;
	top: 0;
	width: 23px;
	height: 23px;
	background-image: url(../img/checkbox-off.svg);
    background-repeat: no-repeat;
    background-position: 0 0;
    opacity: 0.4;

}

.input-checkbox:checked + label::before {
	display: none;
}

.input-checkbox:checked + label::after {
	content: "";
	position: absolute;
	left: -36px;
	top: 0;
	width: 25px;
	height: 23px;
	background-image: url(../img/checkbox-on.svg);
    background-repeat: no-repeat;
    background-position: 0 0;
    opacity: 0.4;
 }


.radio-list input label,
.check-list input label,
.radio-list input label:hover,
.check-list input label:hover {
	font-size: 16px;
	line-height: 20px;
	font-weight: 400;
	color: var(--small-black-color);
}

.input-radio:hover + label::before,
.input-checkbox:hover + label::before,
.input-radio:checked:hover + label::after,
.input-checkbox:checked:hover + label::after {
	opacity: 1;
}

.radio-list input:disabled+label,
.check-list input:disabled+label {
	color: var(--blocked-black-color);
}

.input-radio:disabled + label::before,
.input-checkbox:disabled + label::before,
.input-radio:checked:disabled + label::after,
.input-checkbox:checked:disabled + label::after  {
	opacity: 0.1;
}

button.btn-show {
	font-size: 16px;
	line-height: 18px;
	font-weight: 500;
	text-transform: uppercase;
	color: var(--main-black-color);
	background-color: var(--header-color);
	padding-top: 17px;
	padding-right: 88px;
	padding-bottom: 15px;
	padding-left: 88px;
	margin-top: 2px;
	border-radius: 3px;
	border: none;
}

button.btn-show:hover {
	color: var(--main-black-color);
	background-color: var(--hover-grey-color);
	
}

button.btn-show:focus {
	color: var(--sorting-black-color);
	background-color: var(--pressing-grey-color);
	box-shadow: inset 0 3px 0 var(--shadow-color);
}

.main-catalog {
	display: flex;
	flex-direction: column;
}

.sorting {
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-grow: 1;
	width: 760px;
	max-height: 30px;
	margin: 0;
	margin-left: 140px;
	padding: 0;
	
}

.sorting-headline {
	display: flex;
	justify-content: flex-start;
	font-size: 18px;
	line-height: 30px;
	font-weight: 700;
	color: var(--main-black-color);
	text-transform: uppercase;
	margin: 0;
	
}

.sorting-btn {
	display: flex;
	justify-content: space-between;
	margin: 0;
}

.sort-name {
	display: flex;
	justify-content: space-between;
	position: relative;
	left: 0;
	min-width: 272px;
	margin: 0;
	margin-right: 48px;
}

.sort-icon {
	display: flex;
	justify-content: space-between;
	min-width: 40px;
	margin: 0;
}

.sort-icon a path {
	fill: var(--logo-press-color);
	opacity: 0.2;
}

.sort-icon a:hover path {
	opacity: 1;
}

.sort-icon a:focus path,
.sort-icon a:not([href]) path {
	fill: var(--sorting-icon-color);
}

.sorting a {
	font-size: 14px;
	line-height: 18px;
	font-weight: 400;
	color: var(--sorting-black-color);
	text-transform: uppercase;
	
}

.sorting a:hover {
	color: var(--hover-black-color);
	text-transform: uppercase;
}

.sorting a:focus,
.sorting a:not([href]) {
	color: var(--main-black-color);
	text-transform: uppercase;
}


.templates {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	width: 760px;
	margin: 0;
	margin-left: 140px;
	margin-top: 47px;
	padding: 0;
}

.templates-list {
	list-style: none;
	display: flex;
	flex-wrap: wrap;
	margin: 0;
	padding: 0;
}

.templates-item {
	position: relative;
	width: 360px;
	min-height: 620px;
	margin: 0;
	margin-right: 40px;
	margin-bottom: 30px;
	border-radius: 5px;
	
}

.templates-item:hover .popup {
	display: block;
}

.templates-item:hover {
	box-shadow: 0px 6px 15px var(--shadow-popup-color);

}

.templates-item:nth-child(2n) {
	margin-right: 0;
}

.templates-item img {
	position: absolute;
	top: 40px;
	left: 0;
	width: 358px;
	height: 578px;
	margin: 0;
	border-right: 1px solid var(--pressing-black-color);
	border-left: 1px solid var(--pressing-black-color);
	border-bottom: 1px solid var(--pressing-black-color);
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}

.templates-item img:hover {
	border: none;
	width: 360px;
}

.templates-item svg {
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0.12;
}

.templates-item:hover svg {
	opacity: 1;
}

.popup {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 360px;
	min-height: 231px;
	background-color: var(--header-color);
	text-align: center;
	vertical-align: middle;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}

.popup h4 {
	font-size: 18px;
	line-height: 30px;
	font-weight: 700;
	text-transform: uppercase;
	color: var(--main-black-color);
	margin-top: 29px;
	margin-bottom: 12px;
}

.popup a:hover h4 {
	color: var(--main-red-color);
}

.popup a:focus h4 {
	color: var(--sorting-black-color);
}

.popup .text-popup {
	font-size: 16px;
	line-height: 18px;
	font-weight: 400;
	width: 255px;
	margin: 0 auto;	
	color: var(--popup-text-color);
}

a.btn-price {
	display: inline-block;
	font-size: 16px;
	line-height: 18px;
	font-weight: 500;
	text-transform: uppercase;
	color: var(--basic-color);
	background-color: var(--main-red-color);
	margin: 0;
	margin-top: 33px;
	padding: 0;
	padding-top: 15px;
	padding-bottom: 15px;
	padding-left: 71px;
	padding-right: 73px;
	border-radius: 3px; 
	box-shadow: inset 0 3px 0 var(--shadow-color); 
}

a.btn-price:hover {
	color: var(--basic-color);
	background-color: var(--hover-red-color);
}

a.btn-price:focus {
	color: var(--transparent-basic-color);
	background-color: var(--pressing-red-color);
}


.page-navigation {
	margin-top: 40px;
	margin-bottom: 60px;
}

a.btn-paginator {
	font-size: 16px;
	line-height: 18px;
	font-weight: 500;
	text-transform: uppercase;
	margin: 0;
	padding: 0;
	color: var(--main-black-color);
	background-color: var(--header-color);
}

a.btn-paginator:hover {
	color: var(--main-black-color);
	background-color: var(--hover-grey-color);
}

a.btn-paginator:focus {
	color: var(--sorting-black-color);
	background-color: var(--pressing-grey-color);
	box-shadow: inset 0 3px 0 var(--shadow-color);
}

a.one,
a.two,
a.three {
	padding-top: 16px;
	padding-right: 21px;
	padding-bottom: 15px;
	padding-left: 20px;
	margin-right: 8px;
	border-radius: 3px;
	
}

a.next {
	padding-top: 17px; 
	padding-right: 78px;
	padding-bottom: 16px;
	padding-left: 76px;
	border-radius: 3px;
}

.btn-paginator a:not([href]) {
	color: var(--main-black-color);
	background-color: var(--transparent-button-color);
	border: 3px solid var(--grey-active-color);
}

.btn-hidden {
	display: none;
}


.main-map {
	width: 1440px;
	margin: auto;
	position: relative;
	margin-top: 17px;
}

.nerds-address {
	width: 319px;
	height: 308px;
	margin: 0;
	position: absolute;
	top: 54px;
	left: 140px;
	background-color: var(--basic-color);
}

.nerds-address h4 {
	font-size: 18px;
	line-height: 30px;
	font-weight: 700;
	text-transform: uppercase;
	color: var(--main-black-color);
	margin: 0;
	margin-top: 49px;
	margin-left: 50px;
	padding: 0;
}

address {
	font-size: 16px;
	line-height: 18px;
	font-weight: 400;
	font-style: normal;
	color: var(--popup-text-color);
	margin: 0;
	margin-top: 23px;
	padding: 0;
	padding-left: 50px;
	padding-bottom: 54px;
	 
}

.tel {
	display: inline-block;
	margin: 0;
	margin-top: 20px;
	padding: 0;
}

a.btn-address {
	font-size: 16px;
	line-height: 18px;
	font-weight: 500;
	text-transform: uppercase;
	color: var(--basic-color);
	background-color: var(--main-red-color);
	padding-top: 17px;
	padding-right: 44px;
	padding-bottom: 14px;
	padding-left: 45px;
	margin-left: 50px;
	border-radius: 3px;
}


a.btn-address:hover {
	color: var(--basic-color);
	background-color: var(--hover-red-color);
}

a.btn-address:focus {
	color: var(--transparent-basic-color);
	background-color: var(--pressing-red-color);
}

.main-map::after {
	position: absolute;
	top: 86px;
	right: 387px;
	content: url(../img/map-marker.png);
}

.social {
	height: 217px;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	position: relative;
}

.social-links {
	list-style: none;
	width: 222px;
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: absolute;
	top: 65px;
	left: 10px;
}

.social-button {
	width: 82px;
	height: 82px;
	background-color: var(--rest-social-color);
	border-radius: 50%;
	padding: 0;
	margin: 0;
	margin-right: 9px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.social-button:hover {
	background-color: var(--hover-red-color);
}

.social-button:hover path {
	fill: var(--basic-color);
}

.social-button:focus {
	background-color: var(--pressing-red-color);
	box-shadow: inset 0 3px 0 var(--shadow-color);
}

.social-button:focus path {
	fill: var(--transparent-basic-color);
}

.social-text {
	position: absolute;
	top: 0;
	left: 271px;
	margin: 0;
	margin-left: 139px;
	padding: 0;
}

.social-appeal {
	font-size: 36px;
	line-height: 36px;
	font-weight: 700;
	color: var(--main-black-color);
	margin-bottom: 12px;
	margin-top: 70px;
}

.social-discount {
	font-size: 16px;
	line-height: 22px;
	font-weight: 400;
	color: var(--placeholder-color);
	margin: 0;

}

.modal-letter {
	position: fixed;
	width: 960px;
	height: 590px;
	display: flex;
	justify-content: center;
	align-items: center;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	background-color: var(--basic-color);
	z-index: 10;
}

.modal-letter h2 {
	position: absolute;
	top: 63px;
	left: 100px;
	font-size: 45px;
	line-height: 53px;
	font-weight: 700;
	color: var(--main-black-color);
	margin: 0;
	
}

.modal-form {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	margin-left: 100px;
	margin-right: 99px;
	margin-top: 28px;
	margin-bottom: 48px;
}


.letter-item {
	width: 360px;
	margin: 0;
} 

.letter-item:first-child {
	margin-right: 40px;
} 

.letter-item:last-child {
	width: 100%;
} 

.modal-letter label {
	display: block;
	font-size: 16px;
	line-height: 18px;
	font-weight: 700;
	color: var(--main-black-color);
	margin-bottom: 9px;
}

.letter-item .customer-letter {
	margin-top: 34px;
}

.modal-letter input {
	width: 352px;
	height: 45px;

}

.modal-letter textarea {
	width: 743px;
	height: 98px;
}

.modal-letter input,
.modal-letter textarea {
	font-size: 16px;
	line-height: 18px;
	font-weight: 400;
	color: var(--modal-text-color);
	background-color: transparent;
	border: 2px solid var(--border-rest-grey-color);
	margin: 0;
	padding-left: 15px;

}

.modal-letter input::placeholder {
	color: var(--modal-text-color);
	
}

.modal-letter textarea {
	padding-top: 15px;
}

.modal-letter input:hover,
.modal-letter textarea:hover {
	color: var(--modal-text-color);
	background-color: transparent;
	border: 2px solid var(--border-hover-grey-color);
}

.modal-letter input:hover::placeholder {
	color: var(--modal-text-color);
}

.modal-letter input:focus,
.modal-letter textarea:focus {
	color: var(--placeholder-color);
	background-color: transparent;
	border: 2px solid var(--main-black-color);
}

.modal-letter input:focus::placeholder {
	color: var(--placeholder-color);
}

.modal-letter input:focus:invalid {
	color: var(--hover-red-color);
	background-color: transparent;
	border: 2px solid var(--hover-red-color);
}

button.modal-submit {
	position: absolute;
	left: 0;
	bottom: 84px;
	width: 259px;
	height: 50px;
	font-size: 16px;
	line-height: 18px;
	font-weight: 500;
	text-transform: uppercase;
	color: var(--basic-color);
	background-color: var(--main-red-color);
	padding-top: 17px;
	padding-right: 82px;
	padding-bottom: 15px;
	padding-left: 83px;
	margin: 0;
	margin-left: 100px;
	border-radius: 3px;
	cursor: pointer;
}

button.modal-submit:hover {
	color: var(--basic-color);
	background-color: var(--hover-red-color);
	
}

button.modal-submit:focus {
	color: var(--transparent-basic-color);
	background-color: var(--pressing-red-color);
	
}


button.closing-button {
	position: absolute;
	top: 78px;
	right: 95px;
	width: 21px;
	height: 21px;
	margin: 0;
	opacity: 0.3;
	background-color: transparent;
	border: 0;
	cursor: pointer;
}

button.closing-button:hover {
	opacity: 1;
}

button.closing-button:focus {
	opacity: 0.1;
}